td {
	width: 3em;
	height: 3em;
}

.Orange {
	background-color: orange;
	color: #fff;
}

.LightGrey {
	background-color: #DDD;
}

.Grey {
	background-color: #BBB;
}

.Head {
	background-color: #000;
	color: #fff;
	height: 2em;
	max-height: 2em;
	width: 3em;
	max-width: 3em;
	font-size: 3em;
}

.Grey,
.LightGrey {
	cursor: pointer;
}

.Calculator {
	background-color: #777;
	max-width: 12em;
	width: 12em;
	color: #000;
	font-size: 1.5em;
}
